raspberry samba service installed and in file explorer \\pi_ip_address and login information and achieve pi file and open vscode code file.
mkdir projectfolder</br>
cd projectfolder</br>

sudo apt-get update</br>
sudo apt-get upgrade</br>

sudo apt-get install python3</br>
sudo apt-get install -y python3-setuptools</br>
python3 --version</br>
sudo apt-get install pip3

touch app.py</br>
touch get_data.py</br>
touch humidity.py</br>

in firebase
---
create project projectsmart</br>
add app web and copy config information to code file

---
sudo raspi-config</br>
Go to Interfacing Options then I2C Enable
sudo reboot</br>

pip3 install adafruit-circuitpython-ads1x15</br>
sudo apt-get install -y python-smbus</br>
sudo apt-get install i2c-tools</br>
//sudo apt-get install -y i2c-tools</br>

python3 humidity.py</br>

output
---
  raw       v
22743   2.813
22560   2.791
22525   2.787
22520   2.786
22522   2.786
22524   2.785

---
git clone https://github.com/adafruit/Adafruit_Python_DHT.git 
cd Adafruit_Python_DHT 
sudo python3 setup.py install</br>
sudo pip3 install python-firebase</br>
pip3 install firebase</br>
pip3 install python-jwt</br>
pip3 install sseclient</br>
pip3 install gcloud</br>
pip3 install requests-toolbelt</br>
---
in firebase rule read-write true </br>
python3 app.py (live update)
output in firebase live child</br>
    live:
      humidity: 56
      temperature: 23
      wt_level: 129.6501636505127
 
 python3 app.py (push data)
 output in firebase data child</br>
    data: 
      -MSyzu5vlMEaIoQ7M3-X
        humidity: 52
        temperature: 23
        timestamp: 1612743418.2235966
        wt_level: 1612743418.2235966
        
 python3 get_data.py 
  output: removed MSyzu5vlMEaIoQ7M3-X child in firebase.
        
  


