mkdir projectfolder</br>
cd projectfolder</br>

sudo apt-get update</br>
sudo apt-get upgrade</br>

sudo apt-get install python3</br>
python3 --version</br>
sudo apt-get install pip3

touch app.py</br>
touch get_data.py</br>
touch humidity.py</br>

in firebase
---
create project projectsmart</br>
add app web and copy config information to code file

---
sudo raspi-config</br>
Go to Interfacing Options then I2C Enable
sudo reboot</br>

pip3 install adafruit-circuitpython-ads1x15</br>
sudo apt-get install -y python-smbus</br>
sudo apt-get install i2c-tools</br>
//sudo apt-get install -y i2c-tools</br>

python3 humidity.py</br>

output
---
  raw       v
22743   2.813
22560   2.791
22525   2.787
22520   2.786
22522   2.786
22524   2.785

